<h2>
  {{ title }} (with Signals)
</h2>

<h3>{{ message }}</h3>

<ng-template #loading>
  <h1 class="loading">Loading products</h1>
</ng-template>

@if (products()?.length > 0) {
  <div class="right">
    {{ productsNumber() }} products displayed @if (filtered) {
    <span>(filtered)</span>
    } |
    {{ productsTotalNumber() }} on server |
    <span>
      {favourites(),
      plural, =0
      {no favourite} =1
      {1 favourite} other {{{favourites()}} favourites} }
    </span>
  </div>
  <div>
    <button (click)="sortList('price')">Sort by price</button>
    <button (click)="sortList('name')">Sort by name</button>
    <button (click)="sortList('modifiedDate')">Sort by date</button>
    Search :
    <input type="text" [formControl]="filter" placeholder="filter by name" maxlength="50" style="width:100px" />
  </div>
  @if (filteredProducts(); as products) {
    <ul
      class="products"
      >
      @for (product of products | orderBy: [sorter] | slice: start:end; track product) {
        <li
          [title]="product | json"
          (click)="onSelect(product)"
          [class.discontinued]="product.discontinued"
          [class.selected]="product === selectedProduct"
          >
          <span class="name">{{ product.name | uppercase }}</span>
          <span class="description">{{ product.description }}</span>
          <span class="price">{{
            product.price | currency: "CAD":"symbol-narrow":".2"
          }}</span>
        </li>
      }
    </ul>
  }
  <div class="left">
    <a routerLink="/products/insert/reactive">Add new product</a> |
    <a href="javascript:void(0)" (click)="refreshList()">Refresh list</a> |
    <a routerLink="/products">RxJS version</a> |
    @if (mostExpensiveProduct(); as mostExpensiveProduct) {
      <span>
        Most expensive:
        {{ mostExpensiveProduct?.name }}
        {{ mostExpensiveProduct?.price | currency: "CAD":"symbol-narrow":".2" }}
      </span>
    }
  </div>
  <div class="right">
    <button (click)="previousPage()" [disabled]="start == 0">
      < Previous Page
    </button>
    Page {{ currentPage }}
    @if (productsNumber() > end) {
      <button
        (click)="nextPage()"
        >
        Next Page >
      </button>
    }
    @if (
      !filtered &&
      productsNumber() <= end &&
      productsNumber() < productsTotalNumber()
      ) {
      <button
        (click)="loadMore()"
        >
        Load {{productsToLoad}} more...
      </button>
    }
  </div>
} @else {
  <h1 class="loading">Loading products</h1>
}