.errorMessage {
    color: red;
}
input.ng-dirty.ng-valid,
textarea.ng-dirty.ng-valid {
  border: 3px solid green;
}

input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
  border: 3px solid red;
}

input:active,
input:focus,
input:hover,
textarea:active,
textarea:focus,
textarea:hover {
  background-color: lightyellow;
  border-color: yellow;
}

label {
    clear: both;
    float:left;
    width: 120px;
}