<h2>Update Product</h2>
<form [formGroup]="updateForm"
  (ngSubmit)="onSubmit()">
  <label for="name">Name:</label>
  <input
    id="name"
    type="text"
    formControlName="name">
    @if (name.touched && name.errors) {
      <div class="errorMessage">
        @if (name.hasError('required')) {
          <span>Name is required</span>
        }
        @if (name.hasError('maxlength')) {
          <span>Only 50 characters allowed for Name.</span>
        }
        @if (name.hasError('invalidProductName')) {
          <span>Name invalid (min 3 and max 50 characters, no special characters)</span>
        }
      </div>
    }
    <br />

    <label for="price">Price:</label>
    <input
      id="price"
      type="number"
      step="0.5"
      formControlName="price">
      @if (price.touched && price.errors) {
        <div class="errorMessage">
          @if (price.hasError('required')) {
            <span>Price is required.</span>
          }
          @if (price.hasError('min')) {
            <span>Negative price not allowed.</span>
          }
          @if (price.hasError('max')) {
            <span>Max price allowed is 100 000.</span>
          }
        </div>
      }
      <br />

      <label for="description">Description:</label>
      <textarea
        id="description"
        formControlName="description">
      </textarea>
      @if (description.touched && description.errors) {
        <div class="errorMessage">
          @if (description.hasError('required')) {
            <span>Description is required.</span>
          }
          @if (description.hasError('minlength')) {
            <span>Min 3 characters</span>
          }
          @if (description.hasError('maxlength')) {
            <span>Max 500 characters</span>
          }
        </div>
      }
      <div class="errorMessage">
        @if (updateForm.hasError('descriptionRequiredFromPrice')) {
          <span>Description is required if Price > 100$</span>
        }
      </div>
      <br />

      <label for="imageUrl">Image path:</label>
      <input
        id="imageUrl"
        type="text"
        formControlName="imageUrl">
        @if (imageUrl.touched && imageUrl.errors) {
          <div
            class="errorMessage">
            @if (imageUrl.hasError('pattern')) {
              <span>Invalid image url.</span>
            }
          </div>
        }
        <br />

        <label for="discontinued">Discontinued?</label>
        <input
          id="discontinued"
          type="checkbox"
          formControlName="discontinued">
          <br />

          <label for="fixedPrice">Fixed price?</label>
          <input
            id="fixedPrice"
            type="checkbox"
            formControlName="fixedPrice">
            <br />

            <button type="submit"
            [disabled]="updateForm.invalid">Save</button>
          </form>