<div *ngIf="product$ | async as product">
    <h2>{{product.name | uppercase}}</h2>
    <img style="float:right" [src]="product.imageUrl | default:'https://picsum.photos/250/150'" width="250" />
    <h3>{{product.description}}</h3>
    <p>Price: {{product.price | currency:'CAD':'symbol-narrow':'.2'}}</p>
    <p>Fixed price? {{product.fixedPrice}}</p>
    <p>Discontinued? {{product.discontinued}}
    </p>
    <p>Modified date:
        {{product.modifiedDate | date}}</p>
    <hr />
    <p>
      <button (click)="addToCart(product)">
          Add to cart
      </button>
      <button *ngIf="showAddToFavouritesButton(product)" (click)="addToFavourites(product)">Add to favourites</button>
      <button *ngIf="!showAddToFavouritesButton(product)" (confirm)="removeFromFavourites(product)" [confirmMessage]="'Are you sure to remove this product from your favourites?'">Remove from favourites</button>
      <button (click)="updateProduct(product)">Update</button>
      <button (click)="dialog.open()">Delete</button>
      <modal-dialog #dialog [title]="product.name" (onClose)="deleteConfirmClosed($event)">
        <p>Are you sure to delete this product?</p>
        <div class="right">
          <button (click)="deleteProduct(product.id)" autofocus>Ok</button>
          &nbsp;
          <button (click)="dialog.close()">Cancel</button>
        </div>
      </modal-dialog>
    </p>
</div>